.form {
  display: grid;
  gap: 1rem;
  border: 2px dashed var(--gray);
  width: 400px;
  margin: 20px auto 10px;
  padding: 15px 20px 20px;
  text-align: left;
}

.form legend {
  text-align: center;
}

.formSection {
  display: grid;
  gap: 0.25rem;
}

.input {
  padding: 7px 10px;
  border: 1px solid var(--gray);
  font-size: 1.1rem;
  font-family: ProximaNova;
}
